<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>看点资讯精选</title>
  <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/layout.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" type="text/css" href="../static/css/publish.css">
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/echarts-2.2.7/echarts-all.js"></script>
<script type="text/javascript" src="../static/js/publish.js"></script>
<script type="text/javascript" src="../static/js/wangEditor.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
 <link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <!-- 外部容器 -->
  <div class="container-layout">
    <div class="top_bar"></div>
    <div class="wrap">
      <!-- 左侧导航 -->
      <div class="nav_left">
        <!-- 标题 -->
        <div class="title">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>看点资讯
        </div>
        <!-- 列表 -->
       <!--  <ul class="nav_list">
          <li class="current">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            <a href="./index.html">首页</a>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            <a href="./category.html">栏目管理</a>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            <a href="./message.html">资讯管理</a>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <a href="./user.html">用户管理</a>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </li>
        </ul> -->
        <div class="showLeft">
      <ul class="cd-accordion-menu animated">
  <li class="has-children">
    <input type="checkbox" name ="group-1" id="group-1" checked>
    <label for="group-1">首页</label>

    <ul>
      <li><a href="../index.html">首页展示</a></li>
    </ul>
  </li>

  <li class="has-children">
    <input type="checkbox" name ="group-4" id="group-4">
    <label for="group-4">资讯栏目</label>

    <ul>
      <li class="has-children">
        <input type="checkbox" name ="sub-group-3" id="sub-group-3">
        <label for="sub-group-3">栏目一级</label>

        <ul>
          <li><a href="./show.html">栏目二级</a></li>
          <li><a href="#0">栏目二级</a></li>
        </ul>
      </li>
      <li><a href="#0">新栏目一级</a></li>
      <li><a href="#0">旧栏目二级</a></li>
    </ul>
  </li>

  <li class="has-children">
    <input type="checkbox" name ="group-3" id="group-3">
    <label for="group-3">个人管理</label>

    <ul>
      <li><a href="./publish.html">我的发布</a></li>
      <li><a href="./history.html">浏览记录</a></li>
      <li><a href="./click.html">我的点赞</a></li>
      <li><a href="./collection.html">我的收藏</a></li>
      <li><a href="./report.html">我的举报</a></li>
      <li><a href="./person.html">个人信息</a></li>
    </ul>
  </li>


</ul>
    </div>
      </div>
      <!-- 右侧内容 -->
      <div class="content_right">
        <div class="top_bar">
          <!-- 用户信息 -->
          <div class="user_info">
            <img src="../static/images/tx.jpg" alt="">
            <span>胡六</span>
          </div>
          <div class="login">
              <a href="./login.html">退出</a>
          </div>
        </div>
        <!-- 内容 -->
        <div class="content">
          <div class="search_bar">

              <span class="search_title">发布</span>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger  btn-sm" data-toggle="modal" data-target=".bs-example-modal-s2">批量删除</button>&nbsp;&nbsp;

              <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target=".bs-example-modal-lg">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 发布文章
              </button>&nbsp;&nbsp;

                 <!--  发布文章model -->
              <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target=".bs-example-modal-video">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 发布视频
              </button>

          </div>
          <!-- 搜索end -->
          <div class="news_list">
                <table class="tbl">
            <thead>
              <tr>
                <th width="50px">编号</th>
                <th width="200px">问章题目</th>
                <th width="200px">所属栏目</th>
                <th>发布时间</th>
                <th>背景音乐</th>
                <th>阅读量</th>
                <th>点赞量</th>
                <th>收藏量</th>
                <th>状态</th>
                <th width="160px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>发布测试</td>
                <td>一级</td>
                <td>2018/09/08</td>
                <td>3</td>
                <td>4</td>
                <td>6</td>
                <td>3</td>
                <td>
                  <span class="readed tag_read">已阅读</span>
                </td>
                <td class="optior">
                  <span class="glyphicon glyphicon-trash del_icon" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-del"></span>&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-edit"></span>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>发布测试</td>
                <td>一级</td>
                <td>2018/09/08</td>
                <td>3</td>
                <td>4</td>
                <td>6</td>
                <td>已阅读</td>
                <td>
                  <span class="reading tag_read">未阅读</span>
                </td>
                 <td class="optior">
                  <span class="glyphicon glyphicon-trash del_icon" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-del"></span>&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-edit"></span>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>发布测试</td>
                <td>一级</td>
                <td>2018/09/08</td>
                <td>3</td>
                <td>4</td>
                <td>6</td>
                <td>5</td>
                <td>
                   <span class="readed tag_read">已阅读</span>
                </td>
                 <td class="optior">
                  <span class="glyphicon glyphicon-trash del_icon" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-del"></span>&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-edit"></span>
                </td>
              </tr>
            </tbody>
          </table>
           </div>
        </div>
         <!-- 内容 -->

      </div>
    </div>
  </div>
  <!-- 编辑 -->
<div class="modal fade bs-example-modal-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">编辑文章信息</h4>
      </div>
      <div class="modal-body">

       <form class="form">
          <div class="form-group">
            <label for="">文章标题</label>
            <input class="form-control title_input" name="articleName" readonly="readonly" type="text">
          </div>
            <input name="articleId" type="hidden">
          <div class="form-group">
            <label for="">所属栏目</label>
            <select class="form-control select_label" name="categoryId">
              <!--遍历生成栏目列表  -->
                  <option selected="selected" value="0">其他111</option>
                    <optgroup label="一级分类1">

                      <option value="5">二级2</option>

                      <option value="6">二级3</option>

                      <option value="4">二级1</option>

                  </optgroup>

                    <optgroup label="一级分类2">

                      <option value="8">二级分类5</option>

                      <option value="7">二级分类4</option>

                      <option value="9">二级分类6</option>

                  </optgroup>

                    <optgroup label="一级分类3">

                      <option value="10">二级分类7</option>

                      <option value="12">二级分类9</option>

                      <option value="11">二级分类8</option>

                  </optgroup>

          </select>
        </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
  </div>
  <!-- 批量删除model -->
  <div class="modal fade bs-example-modal-s2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-body">确定删除吗？</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">确定</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- 删除model -->
<div class="modal fade bs-example-modal-del" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    <div class="modal-body">确定删除吗？</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>

  </div>
</div>
<!-- 发布视频 -->
<div class="modal fade bs-example-modal-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="gridSystemModalLabel">发布视频</h4>
                    </div>
                    <div class="modal-body">
                          <input type="text" class="form-control title_input" placeholder="请输入文章标题">
                          <select class="select_label">
                            <optgroup label="健身">
                                <option>123</option>
                                <option>123</option>
                                <option>123</option>
                            </optgroup>
                            <optgroup label="健身">
                                <option>123</option>
                                <option>123</option>
                                <option>123</option>
                            </optgroup>
                            <optgroup label="健身">
                                <option>123</option>
                                <option>123</option>
                                <option>123</option>
                            </optgroup>
                       </select>
                          <div class="file_load" id="click_publish_video">
                          点击上传视频
                          </div>
                          <input type="file" name="fileUpload" style="visibility: hidden;" id="load_video" />

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                      <button type="button" class="btn btn-primary">发布</button>
                    </div>
                  </div>
                </div>
              </div>
 <!--  发布文章model -->
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="gridSystemModalLabel">发布文章</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                       <input type="text" class="form-control title_input" placeholder="请输入文章标题">
                      </div>
                      <div class="row">
                       <!-- <input type="text" class="form-control title_input" placeholder="请输入文章标题"> -->
                       <select class="select_label">
                            <optgroup label="健身">
                                <option>123</option>
                                <option>123</option>
                                <option>123</option>
                            </optgroup>
                            <optgroup label="健身">
                                <option>123</option>
                                <option>123</option>
                                <option>123</option>
                            </optgroup>
                            <optgroup label="健身">
                                <option>123</option>
                                <option>123</option>
                                <option>123</option>
                            </optgroup>
                       </select>
                      </div>
                      <div class="row">
                    <!--  <label for="jobData" class="control-label" style="float:left;padding-left:15px;">上传视频</label> -->
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="file-container" style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
                                <button class="btn btn-success fileinput-button" type="button">上传视频</button>
                                <input type="file" id="jobData" onchange="loadFile(this.files[0])" style="position:absolute;top:0;left:0;font-size:34px; opacity:0" accept=".mp4">
                            </div>
                            <span id="filename" style="vertical-align: middle">未上传文件</span>
                        </div>
                      <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="file-container" style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
                                <button class="btn btn-success fileinput-button" type="button">上传音乐</button>
                                <input type="file" id="jobData" onchange="loadmusicFile(this.files[0])" style="position:absolute;top:0;left:0;font-size:34px; opacity:0" accept=".mp3">
                            </div>
                            <span id="filenameMusic" style="vertical-align: middle">未上传文件</span>
                        </div>
                      </div>
                      <div class="row">
                         <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="file-container" style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
                                <button class="btn btn-success fileinput-button" type="button">上传背景</button>
                                <input type="file" id="jobData" onchange="loadFileimg(this.files[0])" style="position:absolute;top:0;left:0;font-size:34px; opacity:0" accept=".png, jpeg, jpg" multiple>
                            </div>
                            <span id="filenameImg" style="vertical-align: middle">未上传文件</span>
                        </div>
                      </div>
                      <div class="row edit" id="edit_tool"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                      <button type="button" class="btn btn-primary">发布</button>
                    </div>
                  </div>
                </div>
              </div>
</body>

</html>